<div class="container">
    <div class="row">        
        <div class="col">
            <h3>Guiomar Fernández de Bobadilla Brioso</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lj-e65Fh8zA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col">
            <h3>Sergio Rodríguez Calvo</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rTLEhPmaqLg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>