<div class="container">
    <h2>Guiomar Fernández de Bobadilla Brioso - Taxes, GDP and Ratios</h2>
    <ul>
        <li><a routerLink="/integrations/taxes/energy">Energías Renovables</a></li>
        <li><a routerLink="/integrations/taxes/countries">Países (Proxy)</a></li>
    </ul>
    <h2>Sergio Rodríguez Calvo - Tourist Apartment Occupancy Statistics</h2>
    <ul>
        <li><a routerLink="/integrations/apartments/noproxy">Integration 1</a></li>
        <li><a routerLink="/integrations/apartments/proxy">Integration 2 (Proxy)</a></li>
    </ul>
</div>