<div class="container">
    <h1>Apartments list</h1>

    <table class="table">
        <thead>
            <tr>
                <td>Country</td>
                <td>Year</td>
                <td>Travellers</td>
                <td>Stays</td>
                <td>Avg</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input id="new-apartment-country" class="form-control" #newApartmentCountry /></td>
                <td><input id="new-apartment-year" class="form-control" type="number" #newApartmentYear /></td>
                <td><input id="new-apartment-travellers" class="form-control" type="number" #newApartmentTravellers /></td>
                <td><input id="new-apartment-stays" class="form-control" type="number" #newApartmentStays /></td>
                <td><input id="new-apartment-avg" class="form-control" type="number" #newApartmentAvg /></td>
                <td>
                    <button 
                        class="btn btn-primary"
                        (click)="
                            addApartment(newApartmentCountry.value,newApartmentYear.valueAsNumber,newApartmentTravellers.valueAsNumber,newApartmentStays.valueAsNumber,newApartmentAvg.valueAsNumber);
                            newApartmentCountry.value = newApartmentYear.value = newApartmentTravellers.value = newApartmentStays.value = newApartmentAvg.value = ''
                        ">
                        Add
                    </button>
                </td>
            </tr>
            <tr *ngFor="let apartment of apartments">
                <td><a routerLink="/apartments/{{apartment.country}}/{{apartment.year}}">{{apartment.country}}</a></td>
                <td>{{apartment.year}}</td>
                <td>{{apartment.travellers}}</td>
                <td>{{apartment.stays}}</td>
                <td>{{apartment.avg}}</td>
                <td>
                    <button 
                        class="btn btn-danger"
                        (click)="deleteApartment(apartment.country,apartment.year)">
                        Delete
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button 
                        class="btn btn-danger"
                        (click)="deleteApartments()">
                        Delete all
                    </button>
                </td>
                <td>
                    <button 
                        class="btn btn-secondary"
                        (click)="goBack()">
                        Back
                    </button>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
